*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{
    background:#000;
    color:white;
}




/* TOP BAR */

.top-bar{

    background:white;
    color:black;
    text-align:center;
    padding:10px;
    font-size:14px;
    font-weight:600;

}





/* HEADER */

header{

    position:fixed;
    top:40px;
    left:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 6%;

    background:rgba(0,0,0,0.55);
    backdrop-filter:blur(12px);

    z-index:1000;

}



.logo{

    font-size:35px;
    font-weight:800;
    letter-spacing:8px;

}



nav a{

    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:15px;

}


nav a:hover{

    color:#aaa;

}




/* SEARCH */

.search-box input{

    width:220px;
    padding:12px 15px;

    border-radius:30px;

    border:1px solid #555;

    background:#111;

    color:white;

    outline:none;

}




/* HERO */

.hero{

    height:100vh;

    display:flex;
    align-items:center;

    padding:0 8%;


    background:

    linear-gradient(
    rgba(0,0,0,.4),
    #000
    ),

    url("https://images.unsplash.com/photo-1445205170230-053b83016050")

    center/cover;

}



.hero-content h1{

    font-size:100px;
    line-height:.85;
    font-weight:800;

}



.hero-content p{

    margin:30px 0;
    font-size:20px;
    color:#ccc;

}



button{

    padding:15px 40px;

    background:white;

    color:black;

    border:none;

    font-weight:700;

    cursor:pointer;

}



button:hover{

    background:#aaa;

}





/* SECTIONS */


section{

    padding:100px 8%;

}



h2{

    text-align:center;

    font-size:40px;

    margin-bottom:50px;

}





/* CATEGORY */


.category-box{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:20px;

}



.category-box div{

    background:#111;

    padding:25px 40px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}



.category-box div:hover{

    transform:translateY(-10px);

    background:#222;

}





/* PRODUCTS */


.products{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}




.card{

    background:#111;

    padding:20px;

    border-radius:15px;

    transition:.4s;

}



.card:hover{

    transform:translateY(-10px);

}



.card img{

    width:100%;

    height:350px;

    object-fit:cover;

    border-radius:10px;

}



.card h3{

    margin-top:20px;

}



.card p{

    color:#999;

    margin:10px 0;

}


.card b{

    font-size:18px;

}




/* ABOUT */


#about{

    text-align:center;

}


#about p{

    color:#bbb;

    font-size:20px;

}




/* FOOTER */


footer{

    padding:40px;

    text-align:center;

    border-top:1px solid #222;

}




/* MOBILE */


@media(max-width:900px){


header{

    flex-direction:column;
    gap:15px;

}


nav{

    display:none;

}



.hero-content h1{

    font-size:60px;

}



.products{

    grid-template-columns:1fr;

}



.search-box input{

    width:280px;

}



}